.Weather {
	border: 1px solid #dadde1;
	color: rgb(135, 135, 135);
	padding: 16px;
	margin: 30px auto 10px;
	border-radius: 4px;
}

.Weather h1 {
	font-size: 24px;
	font-weight: 100;
	line-height: 29px;
}

.Weather ul {
	margin: 0;
	padding: 0;
}

.Weather li {
	font-size: 16px;
	font-weight: 100;
	line-height: 19px;
	list-style: none;
}
.Weather .container {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.Weather .temperature {
	font-weight: 400;
	font-size: 45px;
	color: black;
	margin-left: 10px;
}

.WeatherTemperature .unit {
	font-weight: 400px;
	color: black;
	position: relative;
	top: -22px;
}

.MainContent {
	background-color: white;
	opacity: 70%;
	border-radius: 4px;
	margin-top: 20px;
	padding: 5px 10px;
}

.DayInfo {
	margin-top: 10px;
	margin-bottom: 10px;
}

.DayInfo .column {
	padding-left: 4px;
	padding-right: 0;
}

.LoadImage {
	height: 100px;
}
