.Weather {
	border: 1px solid #dadde1;
	color: rgb(135, 135, 135);
	padding: 16px;
	margin: 30px auto 10px;
	border-radius: 4px;
}

.Weather h1 {
	font-size: 24px;
	font-weight: 100;
	line-height: 29px;
}

.Weather ul {
	margin: 0;
	padding: 0;
}

.Weather li {
	font-size: 16px;
	font-weight: 100;
	line-height: 19px;
	list-style: none;
}

.Weather .temperature {
	font-weight: 400;
	font-size: 45px;

	margin-left: 10px;
}

.WeatherTemperature {
	color: #fcf8f4;
}

.WeatherTemperature .unit {
	font-weight: 400px;
	position: relative;
	top: -22px;
}

.WeatherTemperature a {
	color: #fcf8f4;
}

.MainContent {
	text-align: center;
	background-color: #1c5e54;
	color: #fcf8f4;
}

.DayInfo {
	margin-top: 10px;
	margin-bottom: 10px;
}

.DayInfo .column {
	padding-left: 4px;
	padding-right: 0;
}

.LoadImage {
	height: 100px;
}

.WeatherInfo WeatherIcon {
	display: inline;
}

.DayInfo p {
	margin: 0;
}

.search-form {
	margin-bottom: 20px;
}
.search-button {
	background-color: #1c5e54;
	color: #fcf8f4;
}

.Search {
	background-color: #fcf8f4;
	border-radius: 4px;
}
