.Weather {
	padding: 16px;
	margin: 30px auto 10px;
	border-radius: 4px;
}

.Weather h1 {
	font-size: 36px;
	font-weight: 100;
	line-height: 29px;
	font-family: "Playfair Display", serif;
	margin-top: 10px;
}

.Weather .temperature {
	font-weight: 400;
	font-size: 95px;
	font-family: "Playfair Display", serif;
	margin-left: 10px;
}

.Weather .SearchBlock {
	margin: 0;
}

.WeatherTemperature {
	color: #fcf8f4;
}

.WeatherTemperature .unit {
	font-weight: 400px;
	position: relative;
	top: -35px;
}

.WeatherTemperature a {
	color: #fcf8f4;
}

.MainContent {
	text-align: center;
	background-color: #1c5e54;
	color: #fcf8f4;
}

.DayInfo {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	bottom: 35px;
}

.DayInfo .column {
	padding-left: 4px;
	padding-right: 0;
}

.LoadImage {
	height: 100px;
}

.WeatherInfo WeatherIcon {
	display: inline;
}

.DayInfo p {
	margin: 0;
}

.search-form {
	margin: 10px 0 20px 0;
}
.search-button {
	background-color: #1c5e54;
	color: #fcf8f4;
}

.Search {
	background-color: #fcf8f4;
	border-radius: 4px;
}

.TopRow {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 767px) {
	.search-button {
		background-color: #fcf8f4;
		color: #1c5e54;
	}

	.Search {
		background-color: #1c5e54;
	}
}
